<form>

  <div class="container" style="padding: 30px 30px 20px 30px;">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label class="checkboxcont" style="text-align: left">Remember me
      <input type="checkbox" name="remember"><span class="checkmark"></span>
    </label>
  </div>

  <div class="container" style="background-color:#e8ddcf; border-radius: 0 0 15px 15px; margin-top: 0;">
    <span class="psw"><a href="#">Forgot password?</a></span>
  </div>

</form>

<p style="text-align: center; margin: 10px 0;">Don't have an account? <a routerLink="/register" style="color: #2f2c27; font-weight: bold">Register</a></p>
