* {
  box-sizing: border-box;
}

/* Center website */
.main {
  background-color: #FCF7F8;
  margin: auto;
  padding: 20px 25px;
  border-top: 1px solid black;
}

/* Create four equal columns that floats next to each other */
.column {
  display: flex;
  flex-direction: row;
}

.content {
  background-color: #E8DDCF;
  color: #2F2C27;
  margin: 0 80px;
  padding: 10px 30px;
}

.content > h3{
  text-align: center;
}
.content > img {
  width:200px;
  height: 150px;
  object-fit: cover;
  margin: 10px 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .main {
    padding: 10px;
  }
  .content {
    margin: 10px;
    padding: 0 7px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex-direction: column;
  }
  .content {
    margin: 10px;
    padding: 10px;
  }
  .content > img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    margin: 10px 15px 10px 7px;
  }
}
