<div class="about-us">
  <p class="about-us" style="margin: 0 70px">
    One day group of good guys decided to create place where you can easily put together all your projects. Templates
    will
    help you with great design, so you can just share it with your future boss ;)
  </p>

  <img src="https://psv4.userapi.com/c536436/u236502997/docs/d43/e95800af3b8a/IMG_7688.jpg?extra=srzl2vu7AMOhU_qIvsb57d1Llt8ULJRSJCeRG7HEnPtX0_-EcjrukrmSHt4jwQbCr9VsBDC8-B1YcAwJlGmvsv9qnZg7uOWw0StSXRq3UATOamFK94wBUKHYwvV3Exk7AHW7yWrq1-T4E3GnZtGk7GCo">
</div>
<footer></footer>
