<form style="margin-top: 20px">

  <div class="container" style="padding: 30px;">
    <label><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <label><b>Surname</b></label>
    <input type="text" placeholder="Enter Surname" name="sname" required>

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Register</button>
  </div>

</form>

<p style="text-align: center; margin: 10px 0;">Have an account? <a routerLink="/login" style="color: #2f2c27; font-weight: bold">Sign in</a></p>
